version: '3' # Docker Compose file version.

services:
# Define the Nextcloud service 
  parez-nextcloud:
    container_name: parez-nextcloud # Custom container name for easy reference.
    #image: nextcloud:latest # Use the latest Nextcloud image from Docker Hub.
    image: linuxserver/nextcloud:latest # Use the latest Nextcloud image from Docker Hub.
    environment:
      - PUID=1000 # User ID for file permission management outside the container.
      - PGID=1000 # Group ID for file permission management outside the container.
      - TZ=Europe/Prague # Set the timezone for the container.
    volumes:
      - nextcloud_config:/config # Volume for Nextcloud configuration files.
      - nextcloud_data:/data # Volume for Nextcloud data (e.g., user files).
    ports:
      - "8080:80" # Map host port 8080 to container port 80 for web access.
      #- "7580:443" # Map host port 7580 on the host to port 443 in the container for HTTPS.  
    restart: unless-stopped # Restartpolicy: restart unless manually stopped.
    networks:
      - nextcloud_network # Attaches the container to the 'nextcloud_network' network.

# Define the database service for Nexcloud
  parez-nextcloud-db:
    container_name: parez-nextcloud-db # Custom container name for the database.
    image: mariadb:latest # Use the latest MariaDB image from Docker Hub.
    restart: on-failure # Restart policy: restart on failure condition.
    volumes:
      - nextcloud_mariadb_data:/var/lib/mysql # Volume for MariaDB data, ensuring data persistence.
    environment:
      - MARIADB_ROOT_PASSWORD=nextcloud # MariaDB root password.    
      - MARIADB_DATABASE=nextcloud # Database name dedicated to Nxtcloud.
      - MARIADB_USER=nextcloud  # MariaDB user.
      - MARIADB_PASSWORD=nextcloud # MariaDB password.
    networks:
      - nextcloud_network # Connect the database container to the same network as Nextcloud.

networks:
  nextcloud_network:  # Custom network for facilitating communication between services.
    driver: bridge  # Network type: bridge. Isolates cntainers in the same bridge network, allowing them to communicate.

volumes:
  nextcloud_config: # Named volume for Nextcloud configuraion files.
    driver: local # Managed by Docker's local volume driver.
  nextcloud_data: # Named volume for Nextcloud user data.
    driver: local # Managed by Docker's local volume driver.
  nextcloud_mariadb_data: # Named volume for MariaDB database data, ensuring database persistence.
    driver: local # Managed by Docker's local volume driver.

